.container {
  width: 20%;
  padding: 0.2em;
}
.container.list-v .video {
  flex: 1 1 20%;
}
.container.list-h {
  flex: 1 1 100%;
}
.container.list-h .thumbanail {
  width: 30%;
}
.video {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.video:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
}
.thumbanail {
  width: 100%;
}

.title {
  font-size: 14px;
}

.channelTitle {
  font-size: 11px;
  margin-bottom: 3px;
}

.metadata {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.channekImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.titledate {
  text-align: left;
}
.title {
  margin-bottom: 3px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all; /*  영문 */
}
.channelTitle {
  margin-bottom: 3px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all; /*  영문 */
}
.commentCount {
  font-size: 11px;
  margin-right: 10px;
  position: relative;
}
.commentCount::after {
  content: "·";
  font-size: 20px;
  position: absolute;
  right: -8px;

  top: -50%;
}
.publishedAt {
  font-size: 11px;
}

.metadata-bottom {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  align-items: center;
  margin-bottom: 10px;
}
